<!DOCTYPE html>
<html>
  <head>
    <title>RailsGeocoding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      window.ENV = { MAPBOX_API_KEY: "<%= ENV['MAPBOX_API_KEY'] %>" }
    </script>

    <%= tag :meta, name: :mapbox_key, content: ENV['MAPBOX_API_KEY'] %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
